html. body{
	height: 100%;
	} 

*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	}
	
	#sidebar{
		position: fixed;
		width: 250px;
		height: 100%;
		background: #000000;
		opacity: 70%;
		border-right: 4px solid #616161;
		left: -250px;
		-moz-transition: all 600ms;
		-webkit-transition: all 600ms;
		transition: all 600ms;
		}
		
		#sidebar.active{
			left: 0px;
			}
		
		#sidebar ul li:first-child{
			text-align: center;
			color: white;
			font-size: 1.95em;
			list-style: none;
			padding: 25px 10px 10px 10px;
			}
			
			#sidebar ul li:not(:first-child){
			width: 90%;
			margin-left: 10%;
			font-size: 1.1em;
			list-style: none;
			padding: 15px 10px ;
			}
			
			#sidebar ul li a{
				color: #fff;
				text-decoration: none;
				}
				
				#sidebar ul li a:hover{
					color: #FF0018;
					}
					
					#sidebar .toggle-btn{
						position: absolute;
						left: 270px;
						top: 20px;
						background: #D5D5D5;
						padding: 10px;
						border-radius: 3px;
						cursor: pointer;
						}
						
						#sidebar .toggle-btn span{
							display: block;
							width: 25px;
							height: 4px;
							background-color: #000000;
							margin: 4px 0;
							} 